/** @format */
.pagination-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #2f4858;
  width: 20rem;
  justify-content: space-evenly;
  padding: 1.5rem;
  border: 1px solid #2f4858;
  position: relative;
  cursor: pointer;
}

.active {
  background-color: #2f4858;
  color: white;
  padding: 0.2rem;
}

.page-link {
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
}
