/** @format */

.SearchBar {
  margin-top: 7rem;
  text-align: center;
}

.sidebar_input {
  width: 20rem;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.searchbar-button {
  background-color: #476c75;
  border: none;
  color: white;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 700px) {
  .sidebar_input {
    width: 15rem;
  }
}
